<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/"
      i18n:domain="testmanager"

     id="tm_edit_title_dialog_container"
     style="width: 300px;"
>
    <div id="tm_edit_title_message_holder"></div>

    <fieldset>
        <label for="tm_title">New title</label>
        <input id="tm_title" name="tm_title" size="40" value="${title}" />
    </fieldset>
    
    <div>
        <button id="tm_edit_title_dialog_button_ok">OK</button>
        <button id="tm_edit_title_dialog_button_cancel">Cancel</button>
    </div>

    <script>
    (function($) {
        $(function() {
            $( "#tm_edit_title_dialog_button_ok" ).button({
              text: true,
              icons: {
                primary: "ui-icon-check"
              }
            })
            .click(function() {
              var new_title = $("#tm_title").val();
              console.info(new_title);

              $(this).prop("disabled", true);

              var params = {
                  type: "edit_title",
                  artifact: "testcase",
                  id: "${id}",
                  title: new_title
              };

              doAjaxCall("${base_url}/testajax", "GET", params, true, function(data) {
                    var resultJson = data;
                    console.info(resultJson);

                    var output = $.parseJSON(resultJson);
                    
                    if (output.result === "OK") {
                        $("#tm_dialog_anchor").dialog( "close" );
                        tm_loadTestCatalogs("testcase", output.id);
                    } else {
                        /* Show error within dialog */
                        $("#tm_edit_title_message_holder").addClass("ui-state-error");
                        $("#tm_edit_title_message_holder").html(output.message);
                        $( this ).enable();
                    }
                });
            });

            $( "#tm_edit_title_dialog_button_cancel" ).button({
              text: true,
              icons: {
                primary: "ui-icon-close"
              }
            })
            .click(function() {
                $("#tm_dialog_anchor").dialog( "close" );
            });
            
          });
    })(jQuery_testmanager);
    </script>

</div>

