<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/"
      i18n:domain="testmanager"

     id="tm_new_test_catalog_dialog_container"
>
    <div py:choose="">
      <h2 py:when="parent_test_catalog is not None">Add a new catalog as a sub-catalog of "${parent_test_catalog.title}"</h2>
      <h2 py:otherwise="">Add a new root test catalog</h2>
    </div>

    <div id="tm_new_test_catalog_dialog_message_holder"></div>

    <fieldset>
        <label for="tm_new_test_catalog_dialog_title">New test catalog name</label>
        <input id="tm_new_test_catalog_dialog_title" name="tm_new_test_catalog_dialog_title" size="40" />
    </fieldset>
    
    <div>
        <button id="tm_new_test_catalog_dialog_button_ok">OK</button>
        <button id="tm_new_test_catalog_dialog_button_cancel">Cancel</button>
    </div>

    <script type="text/javascript">

	    tm_attachDialogEvents(
	    	    "${base_url}", 
	    	    "new_test_catalog_dialog", 
	    	    "create_test_catalog", 
	    	    ["title"], 
	    	    {parent_id: "${parent_id or ''}"}, 
	    	    function(output){tm_loadTestCatalogs("testcatalog", output.id);}
	    	);
    
    </script>

</div>

