<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/"
      i18n:domain="testmanager"

     id="tm_new_test_plan_dialog_container"
     title="New Test Plan"
>
    <div py:choose="">
      <h2>Add a new test plan for catalog "${parent_test_catalog.title}"</h2>
    </div>

    <div id="tm_new_test_plan_dialog_message_holder"></div>

	<p>Specify the new test plan properties</p>
	
    <fieldset>
        <label for="tm_new_test_plan_dialog_title">New test plan name</label>
        <input id="tm_new_test_plan_dialog_title" name="tm_new_test_plan_dialog_title" size="40" />
        <br />

        <legend>Test Plan properties</legend>
        <table><tbody>
            <tr>
                <td>
                    <div class="field">
                      <label for="tm_new_test_plan_dialog_contains_all">The new Test Plan will contain:</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="tm_new_test_plan_dialog_contains_all" value="true" checked="checked" />All the Test Cases in the Catalog<br />
                    <input type="radio" name="tm_new_test_plan_dialog_contains_all" value="false" />Only the Test Cases selected before
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <label for="tm_new_test_plan_dialog_snapshot">The new Test Plan will:</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="tm_new_test_plan_dialog_snapshot" value="false" checked="checked" />Always point to the latest version of the Test Cases<br />
                    <input type="radio" name="tm_new_test_plan_dialog_snapshot" value="true" />Refer to a current snapshot of the versions of the test cases<br />
                </td>
            </tr>
        </tbody></table>
    </fieldset>
    
    <div>
        <button id="tm_new_test_plan_dialog_button_ok">OK</button>
        <button id="tm_new_test_plan_dialog_button_cancel">Cancel</button>
    </div>

    <script type="text/javascript">

		var selected_test_cases = '';
		$('.tm_testcatalog_node[data-id=${parent_id}] .tm_select_testcase_checkbox:checked').each(function() {
			selected_test_cases += $(this).parent('li').data('id') + ',';
		});
    
	    tm_attachDialogEvents(
	    	    "${base_url}", 
	    	    "new_test_plan_dialog", 
	    	    "create_test_plan", 
	    	    ["title"],
	    	    {parent_id: "${parent_id}", selected_test_cases: selected_test_cases}, 
	    	    function(output){
	    	    	$('.tm_testcatalog_node[data-id=${parent_id}]').click();
		    	},
		    	function(){
			    	console.info("contains_all="+$("input[name=tm_new_test_plan_dialog_contains_all]:checked").val());
			    	console.info("snapshot="+$("input[name=tm_new_test_plan_dialog_snapshot]:checked").val());
			    	return {
				    	'contains_all': $("input[name=tm_new_test_plan_dialog_contains_all]:checked").val(),
			    		'snapshot': $("input[name=tm_new_test_plan_dialog_snapshot]:checked").val()
			    	};
		    	}
	    	);
    
    </script>

</div>

