<?python from genshi import HTML ?>
<html>
	<head>
	</head>

	<body>
		<div xmlns="http://www.w3.org/1999/xhtml"
		      xmlns:xi="http://www.w3.org/2001/XInclude"
		      xmlns:i18n="http://genshi.edgewall.org/i18n"
		      xmlns:py="http://genshi.edgewall.org/"
		      i18n:domain="testmanager">
		
		  <div id="tm_test_case_toolbar" class="tm-toolbar">
		    <ul>
		        <py:if test="can_modify">
			        <li class="first"><a href="#" class="tm-action-edit_title">Edit title</a></li>
			        <li><a href="#" class="tm-action-edit_description">Edit description</a></li>
			    </py:if>

		        <li><a href="#" class="tm-action-create_ticket">Create related ticket</a></li>
		        <li><a href="#" class="tm-action-open_tickets">Show related tickets</a></li>
				<py:if test="test_case_bean.has_status">
			        <li><a href="#" class="tm-action-goto_testplan">Go to test plan</a></li>
				</py:if>
		        <li class="last"><a href="${base_url}/wiki/${test_case_bean.page_name}${test_case_bean.get_plan_and_page_version_params() or ''}">Go to wiki page</a></li>
		    </ul>
		  </div>
		  
		  <div id="tm_artifact_message_holder"></div>
		  
			<py:if test="not test_case_bean.has_status">
			    <h1>${test_case_bean.title}</h1>
			</py:if>
			<py:if test="test_case_bean.has_status">
			    <h1 class="tm_artifact_status ${statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][0]}" title="${statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][1]}">${test_case_bean.title}</h1>
			</py:if>
		
		    <div id="tm_artifact_description_wiki">
				${HTML(wiki_contents)}
		
        	<table id='tm_custom_fields_section'><tbody>
				<tr py:for="f in custom_fields" class='customFieldContainer' data-fieldname="${f['name']}" data-fieldtype="${f['type']}">
					<td class="tm_custom_fields_label"><label for="custom_field_${f['name']}">${f['label']}:</label></td>
					<td>
						<py:choose test="f['type']">
							<span py:when="'textarea'" id="custom_field_value_${f['name']}">${Markup(custom_field_values_markup[f['name']] or custom_field_values[f['name']].replace('\n\r', '&lt;br /&gt;').replace('\n', '&lt;br /&gt;'))}</span>
							<span py:when="'checkbox'" id="custom_field_value_${f['name']}"><i class="fa fa-square-o" py:if="custom_field_values[f['name']] == '0'"></i><i class="fa fa-check-square-o"  py:if="custom_field_values[f['name']] == '1'"></i></span>
							<py:otherwise>
								<span id="custom_field_value_${f['name']}">${custom_field_values[f['name']]}</span>
							</py:otherwise>
						</py:choose>
						<span id="container_custom_field_${f['name']}" style="display: none;">
							<py:if test="f['type'] == 'text'">
								<input type="text" id="custom_field_${f['name']}" name="custom_field_${f['name']}" value="${custom_field_values[f['name']]}" />
							</py:if>
							<py:if test="f['type'] == 'textarea'">
								<textarea id="custom_field_${f['name']}" name="custom_field_${f['name']}"
								          rows="${str(f['rows'])}" cols="${str(f['cols'])}"
								>${custom_field_values[f['name']]}</textarea>

								
								<!--  rows="${str(f['rows']) if ('rows' in f) and f['rows'] is not None}" cols="${str(f['cols']) if ('cols' in f) and f['cols'] is not None}" -->
								
								
							</py:if>
							<py:if test="f['type'] == 'radio'">
								<span py:for="option in f['options']"><input type="radio" name="custom_field_${f['name']}" value="${option}" checked="${option == custom_field_values[f['name']] or None}" /> ${option}</span>
							</py:if>
							<py:if test="f['type'] == 'select'">
								<select id="custom_field_${f['name']}" name="custom_field_${f['name']}">
									<option py:for="option in f['options']" selected="${option == custom_field_values[f['name']] or None}" value="${option}">${option}</option>
								</select>
							</py:if>
							<py:if test="f['type'] == 'checkbox'">
								<input type="checkbox" id="custom_field_${f['name']}" name="custom_field_${f['name']}" checked="${custom_field_values[f['name']] == '1' or None}" value="1" />
							</py:if>
						</span>
	
						<span class="custom_field_button_container">
							<span class="tm_button tm_custom_field_edit_button"><i class="fa fa-pencil" title="Edit"></i> Edit</span>
							<span class="tm_button tm_custom_field_save_button" style="display: none;"><i class="fa fa-save" title="Save"></i> Save</span>
							<span class="tm_button tm_custom_field_cancel_button" style="display: none;"><i class="fa fa-remove" title="Cancel"></i> Cancel</span>
						</span>
					</td>
				</tr>
			</tbody></table>
		
				<py:if test="test_case_bean.has_status">
				    <div id="tm_artifact_status_section">
				    	<h3>Status: ${statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][1]}</h3>
					    <div class="tm_artifact_status_colors">
					    	<p>Click to change status.</p>
					    	
					    	<py:if test="(statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][0]) == 'green'">
						    	<a href="#" class="tm-action-change_status tm_artifact_status green tm_artifact_status_selected" data-status="successful" title="Set to successful"></a>
					    	</py:if>
					    	<py:if test="(statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][0]) != 'green'">
						    	<a href="#" class="tm-action-change_status tm_artifact_status green" data-status="successful" title="Set to successful"></a>
					    	</py:if>
					    	
					    	<py:if test="(statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][0]) == 'yellow'">
						    	<a href="#" class="tm-action-change_status tm_artifact_status yellow tm_artifact_status_selected" data-status="to_be_tested" title="Set to untested"></a>
					    	</py:if>
					    	<py:if test="(statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][0]) != 'yellow'">
						    	<a href="#" class="tm-action-change_status tm_artifact_status yellow" data-status="to_be_tested" title="Set to untested"></a>
					    	</py:if>

					    	<py:if test="(statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][0]) == 'red'">
						    	<a href="#" class="tm-action-change_status tm_artifact_status red tm_artifact_status_selected" data-status="failed" title="Set to failed"></a>
					    	</py:if>
					    	<py:if test="(statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][0]) != 'red'">
						    	<a href="#" class="tm-action-change_status tm_artifact_status red" data-status="failed" title="Set to failed"></a>
					    	</py:if>
					    </div>
				    </div>
				    
				    <div id="tm_artifact_statushistory">
				        <h3 class="foldable">History of status changes</h3>
				        <div>
					    	<dl>
					    		<dt py:for="ts, author, status in test_case_bean.test_case_in_plan.list_history()">
					    			Set to <strong>${statuses_by_name[status][1]}</strong> by <em>${authorinfo(author)}</em> ${pretty_dateinfo(ts)}.
					    		</dt>
					    	</dl>
					    </div>
				    </div>
			    </py:if>

			    <div id="tm_artifact_ondemand" style="display: none;">
			    </div>
		
				<div id="tm_artifact_attachments">
				    <xi:include href="list_of_attachments.html"
			                    py:with="alist = attachments; compact = (not can_modify); foldable = True"/>
				</div>
		    </div>
		
		</div>
		
		<script type="text/javascript">
		//<![CDATA[
		(function($) {
		    $(function() {
				$('.tm-action-edit_title').on('click', function(e) {
					/* Load edit test catalog title dialog */
					e.preventDefault();
					
					var params = {
							artifact: "testcase",
							id: "${test_case_bean.get_test_case_id()}"
						};
					
					tm_loadDialog("${base_url}", "get_edit_title_dialog", params, 500);
				});
		
				$('.tm-action-edit_description').on('click', function(e) {
					/* Load edit test catalog title dialog */
					e.preventDefault();
					
					var params = {
							artifact: "testcase",
							id: "${test_case_bean.get_test_case_id()}"
						};
					
					tm_loadDialog("${base_url}", "get_edit_description_dialog", params, 800);
				});
		
				$('.tm-action-change_status').on('click', function(e) {
					/* Change status of the test case */
					e.preventDefault();
					
					var params = {
							test_case_id: "${test_case_bean.get_test_case_id()}",
							test_plan_id: "${test_case_bean.get_test_plan_id()}",
							new_status: $(this).data('status')
						};
					
					doAjaxCall("${base_url}/action/testmanager.actions.Actions!change_test_case_status", "GET", params, true, function(data) {
						tm_loadTestPlan('${test_case_bean.get_test_plan_id()}', 'testcase', '${test_case_bean.get_test_case_id()}', true);
                    });
				});

				$('.tm-action-create_ticket').on('click', function(e) {
					/* Open a ticket related to this test case */
					e.preventDefault();

				    var fullSummary = "";

				    /* TODO Read configuration options. See wiki.py */
				    var ticketSummaryOption = 'test_case_title';
				    switch(ticketSummaryOption) {
				        case 'empty':
				            break;

				        case 'fixed_text':
				            fullSummary = ticketSummaryText + ticketSummarySeparator;
				            break;

				        case 'test_case_title':
				        	fullSummary = tm_stripLessSpecialChars("${test_case_bean.title}")+_(" fails - ");
				            break;
					        
				        case 'last_n_catalogs':
				        case 'full_path':
				        default:
				            var tokens = $('span[name=breadcrumb]').map(function() { return this.innerHTML; }).get();

				            var start = 1;
				            
				            if (ticketSummaryOption == 'last_n_catalogs' && ticketSummaryNumCatalogs < tokens.length) {
				                start = tokens.length - ticketSummaryNumCatalogs + 1;
				            }
				            
				            for (var i=start; i<tokens.length; i++) {
				                fullSummary += tokens[i] + ticketSummarySeparator;
				            }
				        
				            fullSummary += summary + ticketSummarySeparator;
				    }

				    fullSummary += _("[Insert problem summary]");
				    var testPlanName = tm_stripLessSpecialChars("${test_case_bean.get_test_plan_name()}");

				    var url = '${base_url}/newticket?testcaseid=${test_case_bean.get_test_case_id()}&planid=${test_case_bean.get_test_plan_id()}&summary='+tm_stripLessSpecialChars(fullSummary)+'&description=Test%20Case:%20[wiki:${test_case_bean.page_name}?planid=${test_case_bean.get_test_plan_id()}],%20Test%20Plan:%20'+testPlanName+'%20(${test_case_bean.get_test_plan_id()})'; 
				    window.location = url;
				});

				$('.tm-action-open_tickets').on('click', function(e) {
					/* Display a list of tickets related to this test case */
					e.preventDefault();

				    var url = '${base_url}/query?testcaseid=${test_case_bean.get_test_case_id()}';

				    if ("${test_case_bean.get_test_plan_id()}" != "") { 
				        url += '&planid=${test_case_bean.get_test_plan_id()}'; 
				    }
				    
				    window.location = url;
				});

				$('.tm-action-goto_testplan').on('click', function(e) {
		            /* Load the test plan */
		            e.preventDefault();

		            tm_loadTestPlan('${test_case_bean.get_test_plan_id()}', 'testcatalog', '${test_case_bean.get_test_plan_catalog_id()}');
				});

				tm_attachCustomFieldsEvents("${base_url}", "testcase", "${test_case_bean.get_test_case_id()}");
				
				/*
				$('.tm-action-attachments').on('click', function(e) {
					e.preventDefault();
					e.stopPropagation();
		
		            doAjaxCall("${base_url}/attachment/wiki/${test_case_bean.page_name}", "GET", {}, true, function(markup) {
				            console.info("Markup: "+markup);
				            var html = $.parseHTML(markup, null, true);
				            var wikiPage = $(html).find("#attachments")[0];
				            $("#tm_artifact_ondemand").append(wikiPage);
				            $("#tm_artifact_ondemand").show();
		            	});
				});
				*/
				
		    });        
		})(jQuery_testmanager);
		
		//]]>
		</script>
		
	</body>
</html>
