<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/"
      i18n:domain="testmanager"
	  >
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>

    <script type="text/javascript">
        var jQuery_trac_old = $.noConflict(true);
    </script>
	
    <link rel="stylesheet" type="text/css" href="${base_url}/chrome/testmanager/js/jquery-ui-1.11.0/jquery-ui.css" />
    <script src="${base_url}/chrome/testmanager/js/jquery-1.11.1/jquery-1.11.1.js"></script>
    <script src="${base_url}/chrome/testmanager/js/jquery-ui-1.11.0/jquery-ui.js"></script>

	<script language="javascript" type="text/javascript" src="${base_url}/chrome/testmanager/js/jquery-plugins/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="${base_url}/chrome/testmanager/js/jquery-plugins/jquery.flot.pie.js"></script>

    <script src="${base_url}/chrome/testmanager/js/igniteui/infragistics.js"></script>
    <link href="${base_url}/chrome/testmanager/js/igniteui/css/themes/infragistics/infragistics.theme.css" rel="stylesheet"></link>
    <link href="${base_url}/chrome/testmanager/js/igniteui/css/structure/infragistics.css" rel="stylesheet"></link>

    <link href="${base_url}/chrome/testmanager/css/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet"></link>
	
    <script type="text/javascript">
        var jQuery_testmanager = $.noConflict(true);
		$ = jQuery_trac_old;
		
		var baseurl = "${base_url}";

        var buildStatusChangeMenu = false;

	</script>

	<link rel="stylesheet" type="text/css" href="${base_url}/chrome/testmanager/css/testman4trac.css" />

	<script language="javascript" type="text/javascript" src="${base_url}/chrome/testmanager/js/cookies.js"></script>
	<script language="javascript" type="text/javascript" src="${base_url}/chrome/testmanager/js/testmanager.js"></script>
	<script language="javascript" type="text/javascript" src="${base_url}/chrome/testmanager/js/testman4trac.js"></script>

  </head>


  <body>
      <div id="splitter">
          <div id="tm_navigator" style="overflow: auto">
              <div id="tm_navigator_toolbar" class="tm-toolbar">
                <ul>
                  <li class="first"><a href="#" class="tm-action-new_root_catalog">New root catalog</a></li>
                  <li class="last"><a href="#" class="tm-action-resetview">Reset view</a></li>
                </ul>
              </div>

            <!--
            <div id="tm_navigator_toolbar">
                <span id="tm_main_toolbar_viewtype">
                    <input type="radio" id="tm_main_toolbar_viewtype_tree" name="viewtype" value="tree" checked="checked" /><label for="tm_main_toolbar_viewtype_tree">Tree view</label>
                    <input type="radio" id="tm_main_toolbar_viewtype_table" name="viewtype" value="tree_table" /><label for="tm_main_toolbar_viewtype_table">Table view</label>
                </span>
            </div>
            -->

            <div id="tm_filter" class="tm_filter">
                <label for="tm_filter_input">Filter:</label>
                <input id="tm_filter_input" name="tm_filter_input" 
                    title="Type the test to search for, even more than one word. You can also filter on the test case status (untested, successful, failed)." 
                    type="text" 
                    size="30" />
                <span id="ticketContainer_searchResultsNumberId" style="font-weight: bold;"></span>
            </div>

            <div class="tm_expandcollapseall">
                <a id="tm_expandalltree_button" href="#">Expand all</a>
                <a id="tm_collapsealltree_button" href="#">Collapse all</a>
            </div>

            <div id="tm_tree">
                Loading...
            </div>
        </div>

        <div id="tm_artifact_details">
            <div id="tm_artifact_menu">
            </div>

            <div id="tm_artifact_breadcrumbs">
            </div>

            <div id="tm_artifact_description" class="searchable">
            </div>
        </div>

    </div>
    
    <form id="tm_dialog_form" name="tm_dialog_form">
        <div id="tm_dialog_anchor">
        </div>
    </form>
    
    <script type="text/javascript">
//<![CDATA[
           
var currentSelectedTreeNode = null;
           
(function($) {
    $(function() {
		window.tm_initTestManager = function() {
            var params = {
                    random: new Date().getTime()
                };
                
            doAjaxCall("${base_url}/action/testmanager.actions!get_session", "GET", params, true, function(data) {
                    console.info("JSON: "+data);
                    
                    var sessionAttributes = $.parseJSON(data);

                    console.info("Session attributes:");
                    console.dir(sessionAttributes);
                    
                    if (sessionAttributes.artifact_planid) {
                    	tm_loadTestPlan(sessionAttributes.artifact_planid, sessionAttributes.artifact_type, sessionAttributes.artifact_id);
                    } else {
                    	tm_loadTestCatalogs(sessionAttributes.artifact_type, sessionAttributes.artifact_id);
                    }
            });
		};

		window.tm_resetView = function() {
            var params = {
            		random: new Date().getTime()
                };
                
            doAjaxCall("${base_url}/action/testmanager.actions!resetview", "GET", params, true, function(data) {
            	window.location = window.location.pathname + window.location.hash;
            });
		};
        
        window.tm_loadTestCatalogs = function(selectType, selectId) {
            /* Load list of root test catalogs */
            
            console.info("selectType="+selectType+", selectId="+selectId);
            
            var selectTypeVar = selectType;
            var selectIdVar = selectId;
            
            var params = {
                    mode: "${mode}",
                    fulldetails: "${fulldetails}"
                };
                
            doAjaxCall("${base_url}/action/testmanager.actions!loadtree", "GET", params, true, function(data) {
                    console.info("JSON: "+data);
                    
                    var testCatalogs = $.parseJSON(data);

                    console.info("Catalogs array:");
                    console.dir(testCatalogs);

                    var testCatalogMarkup = "";
                    for (var i=0; i<testCatalogs.length; i++) {
                        testCatalogMarkup += generateTestCatalogTree(testCatalogs[i]);
                    }
                    
                    $("#tm_tree").html(testCatalogMarkup);
                    
                    attachTreeBehavior();
                    
                    if (selectTypeVar && selectIdVar) {
                        $('.tm_'+selectTypeVar+'_node[data-id="'+selectIdVar+'"]').click();
                    }
                });
        }
        
        window.tm_loadTestPlan = function(planId, selectType, selectId) {
            /* Load test plan */
            
            var planIdVar = planId;
            var selectTypeVar = selectType;
            var selectIdVar = selectId;
            
            var params = {
                    mode: "${mode}",
                    fulldetails: "${fulldetails}",
                    test_plan_id: planId
                };
                
            doAjaxCall("${base_url}/action/testmanager.actions!get_test_plan", "GET", params, true, function(data) {
                    var testCatalogJson = data;
                    
                    console.info("JSON: "+testCatalogJson);
                    var testCatalogs = $.parseJSON(testCatalogJson);
                    console.info("Object: ");
                    console.dir(testCatalogs);

                    var testCatalogMarkup = "";
                    for (var i=0; i<testCatalogs.length; i++) {
                        testCatalogMarkup += generateTestCatalogTree(testCatalogs[i], 0);
                    }
                    
                    $("#tm_tree").html(testCatalogMarkup);
                    
                    attachTreeBehavior();
                    
                    if (selectTypeVar && selectIdVar) {
                        $('.tm_'+selectTypeVar+'_node[data-id="'+selectIdVar+'"]').click();
                    }
                });
        }
        
        function generateTestCatalogTree(testCatalog, level) {
            var result = '';
            
            console.dir(testCatalog);
            
            result += '<ul class="tm_node tm_testcatalog_node expanded af-ul';

            if (testCatalog.has_status) {
                result += ' tm_folderstatus_node '+testCatalog.color+'" ';
                if (level == 0) {
                    result += ' data-plan_id="'+testCatalog.test_plan_id+'" ';
                }
            } else {
                result += '"';
            }
            
            result += ' data-id="'+testCatalog.test_catalog.id+'"><i class="tm_toggle_node fa-ul fa fa-minus-square-o"></i>'+testCatalog.test_catalog.title;
            
            for (var subCatalog in testCatalog.sub_catalogs) {
                result += generateTestCatalogTree(testCatalog.sub_catalogs[subCatalog], level+1);
            }
            
            for (var testCase in testCatalog.test_cases) {
                result += generateTestCase(testCatalog.test_cases[testCase]);
            }
            
            result += '</ul>';
            
            return result;
        }
        
        function generateTestCase(testCase) {
            var result = '';
            
            result += '<li class="tm_node tm_testcase_node';
            if (testCase.has_status) {
                result += ' tm_status_node '+testCase.color+'" ';
                result += ' data-plan_id="'+testCase.test_plan_id+'" ';
                result += ' data-status="'+testCase.test_case_in_plan.status+'" ';
                result += ' data-color="'+testCase.color+'" ';
            } else {
                result += '" ';
            }

            result += ' data-id="'+testCase.test_case.id+'" ';
            result += '>'+testCase.test_case.title;
            
            result += '</li>';
            
            return result;
        }

        $('#tm_expandalltree_button').on('click', function(e) {
            /* Expand or collapse sub tree */
            e.preventDefault();
            
            tm_expandAllTreeNodes();
        });
        
        $('#tm_collapsealltree_button').on('click', function(e) {
            /* Expand or collapse sub tree */
            e.preventDefault();
            
            tm_collapseAllTreeNodes();
        });
        
        function attachTreeBehavior() {
            $('.tm_toggle_node').on('click', function(e) {
	                /* Expand or collapse sub tree */
	                e.preventDefault();
		            e.stopPropagation();
	                
	                var node = $(this);
	                var catalogNode = node.parent('ul');
	
	                tm_toggleTreeNode(catalogNode);
	            });
            
            $('.tm_testcatalog_node').on('click', function(e) {
                    /* Load test catalog description */
                    e.preventDefault();
		            e.stopPropagation();
                    
                    var treeNode = $(this);
            		selectNode(treeNode);

            		var params = {
                            test_catalog_id: treeNode.data('id')
                        };
                    
                    var planid = treeNode.data('plan_id');

                    if (planid != undefined) {
                    	params.test_plan_id = planid;
                    }

                    /*
                    var params = {};
                    
                    doAjaxCall("${base_url}/wiki/TC_TT"+node.attr('data-id'), "GET", params, true, function(data) {
                    */
                    doAjaxCall("${base_url}/action/testmanager.actions!get_test_catalog_details", "GET", params, true, function(data) {
                            var markup = data;
                            $("#tm_artifact_description").html(markup);
                            
                            attachTestCatalogDescriptionBehavior();
                        });
                });

            $('.tm_testcase_node').on('click', function(e) {
                    /* Load test case description */
                    e.preventDefault();
		            e.stopPropagation();
                    
                    var treeNode = $(this);
            		selectNode(treeNode);

            		var params = {
                            test_case_id: treeNode.data('id')
                        };
                    
                    var planid = treeNode.data('plan_id');
                    if (planid !== null && planid !== '') {
                        params.test_plan_id = planid;
                    }
                    
                    doAjaxCall("${base_url}/action/testmanager.actions!get_test_case_details", "GET", params, true, function(data) {
	                		var markup = data;
                            $("#tm_artifact_description").html(markup);
                            
                            attachTestCaseDescriptionBehavior();
                        });
                });
        }

		function selectNode(treeNode) {
    		if (currentSelectedTreeNode) {
        		currentSelectedTreeNode.removeClass('selected');
        	}

    		treeNode.addClass('selected');
    		currentSelectedTreeNode = treeNode;
		}
        
        function attachTestCatalogDescriptionBehavior() {
            console.info("attachTestCatalogDescriptionBehavior()");
        }
        
        function attachTestCaseDescriptionBehavior() {
            console.info("attachTestCaseDescriptionBehavior()");
        }
        
        $( document ).ready(function() {

            $("#splitter").igSplitter({ height: "700px", panels: [{ size: 250, min: 50, max: 500 }] });

            tm_initTestManager();
            
            $("#tm_filter_input").on("keyup", function(e) {
                    console.info("onkeyup()");
                });
                
            $( "#tm_main_toolbar_viewtype_tree" ).button({
                    text: true,
                    icons: {
                        primary: "icon-sitemap"
                    }
                });
            
            $( "#tm_main_toolbar_viewtype_table" ).button({
                    text: true,
                    icons: {
                        primary: "icon-list-ul"
                    }
                });

            $('.tm-action-new_root_catalog').on('click', function(e) {
                    /* Load test case description */
                    e.preventDefault();
                    
                    var params = {parent_id: '-1'};

                    tm_loadDialog("${base_url}", "get_new_test_catalog_dialog", params, 500);
                });

            $('.tm-action-resetview').on('click', function(e) {
                /* Reset the tree view */
                e.preventDefault();

                tm_resetView();
            });
                
        });
    });        
})(jQuery_testmanager);

//]]>
    </script>

  </body>
</html>
