<?python from genshi import HTML ?>
<html>
	<head>
	</head>

	<body>
		<div xmlns="http://www.w3.org/1999/xhtml"
		      xmlns:xi="http://www.w3.org/2001/XInclude"
		      xmlns:i18n="http://genshi.edgewall.org/i18n"
		      xmlns:py="http://genshi.edgewall.org/"
		      i18n:domain="testmanager">
		
		  <div id="tm_test_case_toolbar" class="tm-toolbar">
		    <ul>
		        <py:if test="can_modify">
			        <li class="first"><a href="#" class="tm-action-edit_title">Edit title</a></li>
			        <li><a href="#" class="tm-action-edit_description">Edit description</a></li>
		            <li class="last"><a href="${base_url}/wiki/${test_case_bean.page_name}">Go to wiki page</a></li>
			    </py:if>
		        <py:if test="not can_modify">
		            <li class="first last"><a href="${base_url}/wiki/${test_case_bean.page_name}">Go to wiki page</a></li>
			    </py:if>
		    </ul>
		  </div>
		  
			<py:if test="not test_case_bean.has_status">
			    <h1>${test_case_bean.title}</h1>
			</py:if>
			<py:if test="test_case_bean.has_status">
			    <h1 class="tm_artifact_status ${statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][0]}" title="${statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][1]}">${test_case_bean.title}</h1>
			</py:if>
		
		    <div id="tm_artifact_description_wiki">
				${HTML(wiki_contents)}
		
				<py:if test="test_case_bean.has_status">
				    <div id="tm_artifact_status">
				    	Status: ${statuses_by_name[test_case_bean.test_case_in_plan['status'] or default_outcome][1]}
				    </div>
				    <div>
				    	<a href="#" class="tm-action-change_status tm_artifact_status red" data-status="failed">&nbsp;</a>
				    	<a href="#" class="tm-action-change_status tm_artifact_status yellow" data-status="to_be_tested">&nbsp;</a>
				    	<a href="#" class="tm-action-change_status tm_artifact_status green" data-status="successful">&nbsp;</a>
				    </div>
			    </py:if>

			    <div id="tm_artifact_ondemand" style="display:none;">
			    </div>
		
				<div id="tm_artifact_attachments">
				    <xi:include href="list_of_attachments.html"
			                    py:with="alist = attachments; compact = (not can_modify); foldable = True"/>
				</div>
		    </div>
		
		</div>
		
		<script type="text/javascript">
		//<![CDATA[
		(function($) {
		    $(function() {
				$('.tm-action-edit_title').on('click', function(e) {
					/* Load edit test catalog title dialog */
					e.preventDefault();
					
					var params = {
							artifact: "testcase",
							id: "${test_case_bean.get_test_case_id()}"
						};
					
					tm_loadDialog("${base_url}", "get_edit_title_dialog", params, 500);
				});
		
				$('.tm-action-edit_description').on('click', function(e) {
					/* Load edit test catalog title dialog */
					e.preventDefault();
					
					var params = {
							artifact: "testcase",
							id: "${test_case_bean.get_test_case_id()}"
						};
					
					tm_loadDialog("${base_url}", "get_edit_description_dialog", params, 800);
				});
		
				$('.tm-action-change_status').on('click', function(e) {
					/* Change status of the test case */
					e.preventDefault();
					
					var params = {
							test_case_id: "${test_case_bean.get_test_case_id()}",
							test_plan_id: "${test_case_bean.get_test_plan_id()}",
							new_status: $(this).data('status')
						};
					
					doAjaxCall("${base_url}/action/testmanager.actions!change_test_case_status", "GET", params, true, function(data) {
						tm_loadTestPlan('${test_case_bean.get_test_plan_id()}', 'testcase', '${test_case_bean.get_test_case_id()}');
                    });
				});
		
				/*
				$('.tm-action-attachments').on('click', function(e) {
					e.preventDefault();
					e.stopPropagation();
		
		            doAjaxCall("${base_url}/attachment/wiki/${test_case_bean.page_name}", "GET", {}, true, function(markup) {
				            console.info("Markup: "+markup);
				            var html = $.parseHTML(markup, null, true);
				            var wikiPage = $(html).find("#attachments")[0];
				            $("#tm_artifact_ondemand").append(wikiPage);
				            $("#tm_artifact_ondemand").show();
		            	});
				});
				*/
				
		    });        
		})(jQuery_testmanager);
		
		//]]>
		</script>
		
	</body>
</html>
