<?python from genshi import HTML ?>
<html>
	<head>
	</head>

	<body>
		<div xmlns="http://www.w3.org/1999/xhtml"
		      xmlns:xi="http://www.w3.org/2001/XInclude"
		      xmlns:i18n="http://genshi.edgewall.org/i18n"
		      xmlns:py="http://genshi.edgewall.org/"
		      i18n:domain="testmanager">
		
		  <div id="tm_test_case_toolbar" class="tm-toolbar">
		    <ul>
		        <py:if test="can_modify">
			      <li class="first"><a href="#" class="tm-action-edit_title">Edit title</a></li>
			      <li class="last"><a href="#" class="tm-action-edit_description">Edit description</a></li>
			    </py:if>
		    </ul>
		  </div>
		  
		    <h1>${test_case_bean.title}</h1>
		
		    <div id="tm_artifact_description_wiki">
				${HTML(wiki_contents)}
		
			    <div id="tm_artifact_ondemand" style="display:none;">
			    </div>
		
				<div id="tm_artifact_attachments">
				    <xi:include href="list_of_attachments.html"
			                    py:with="alist = attachments; compact = (not can_modify); foldable = True"/>
				</div>
		    </div>
		
		</div>
		
		<script type="text/javascript">
		//<![CDATA[
		(function($) {
		    $(function() {
				$('.tm-action-edit_title').on('click', function(e) {
					/* Load edit test catalog title dialog */
					e.preventDefault();
					e.stopPropagation();
					
					var params = {
							artifact: "testcase",
							id: "${test_case_bean.get_test_case_id()}"
						};
					
					tm_loadDialog("${base_url}", "get_edit_title_dialog", params, 500);
				});
		
				$('.tm-action-edit_description').on('click', function(e) {
					/* Load edit test catalog title dialog */
					e.preventDefault();
					e.stopPropagation();
					
					var params = {
							artifact: "testcase",
							id: "${test_case_bean.get_test_case_id()}"
						};
					
					tm_loadDialog("${base_url}", "get_edit_description_dialog", params, 800);
				});
		
				/*
				$('.tm-action-attachments').on('click', function(e) {
					e.preventDefault();
					e.stopPropagation();
		
		            doAjaxCall("${base_url}/attachment/wiki/${test_case_bean.page_name}", "GET", {}, true, function(markup) {
				            console.info("Markup: "+markup);
				            var html = $.parseHTML(markup, null, true);
				            var wikiPage = $(html).find("#attachments")[0];
				            $("#tm_artifact_ondemand").append(wikiPage);
				            $("#tm_artifact_ondemand").show();
		            	});
				});
				*/
				
		    });        
		})(jQuery_testmanager);
		
		//]]>
		</script>
		
	</body>
</html>
