<?python from genshi import HTML ?>
<html>
	<head>
	</head>

	<body>
		<div xmlns="http://www.w3.org/1999/xhtml"
		      xmlns:xi="http://www.w3.org/2001/XInclude"
		      xmlns:i18n="http://genshi.edgewall.org/i18n"
		      xmlns:py="http://genshi.edgewall.org/"
		      i18n:domain="testmanager">
		
		  <div id="tm_test_catalog_toolbar" class="tm-toolbar">
		    <ul>
			    <li class="first"><a href="#" class="tm-action-goto_testcatalog">Go to test catalog</a></li>
	            <li class="last"><a href="${base_url}/wiki/${test_catalog_bean.page_name}?planid=${test_catalog_bean.get_test_plan_id()}">Go to wiki page</a></li>
		    </ul>
		  </div>
		  
		  <div id="tm_artifact_message_holder"></div>
		  		  
		  <h1>Test plan - ${test_catalog_bean.get_test_plan_name()}</h1>
		  <h3>For catalog: ${test_catalog_bean.title}</h3>

			<div class="tm_metadata">
				<p>Created by <em>${authorinfo(test_catalog_bean.get_test_plan_author())}</em> ${pretty_dateinfo(test_catalog_bean.get_test_plan_date())}.</p>
				<p>
					<py:if test="test_catalog_bean.test_plan['contains_all']">Contains all test cases in the catalog.</py:if>
					<py:if test="not test_catalog_bean.test_plan['contains_all']">Contains only selected test cases from the catalog.</py:if>
				</p>
				<p>
					<py:if test="test_catalog_bean.test_plan['freeze_tc_versions']">Refers to a specific version of the test cases.</py:if>
					<py:if test="not test_catalog_bean.test_plan['freeze_tc_versions']">Always refers to the latest version of the test cases.</py:if>
				</p>
			</div>
		
			<div id="tm_testplan-totals">
				<p>Current status:</p>
				<div class="tm_testplan-totals-colors">
					<span class="tm_status_node green" id="tm_testplan-totals-green" title="Successful"></span>
					<span class="tm_status_node yellow" id="tm_testplan-totals-yellow" title="To be tested"></span>
					<span class="tm_status_node red" id="tm_testplan-totals-red" title="Failed"></span>
				</div>
			</div>
			
		    <div id="tm_artifact_description_wiki">
				${HTML(wiki_contents)}
		
			    <div id="tm_artifact_ondemand" style="display:none;">
			    </div>
		
				<div id="tm_artifact_attachments">
					<py:with vars="foldable = True">
					    <xi:include href="list_of_attachments.html"
				                    py:with="alist = attachments; compact = (not can_modify); foldable = True"/>
				    </py:with>
				</div>
		    </div>
		</div>

		<script type="text/javascript">
		//<![CDATA[
		(function($) {
		    $(function() {
			    for (color in window.test_plan_tot_colors) {
					$('#tm_testplan-totals-'+color).html(window.test_plan_tot_colors[color]);
				}
			    
				$('.tm-action-goto_testcatalog').on('click', function(e) {
		            /* Load the new test plan dialog */
		            e.preventDefault();

		            tm_loadTestCatalogs('testcatalog', '${test_catalog_bean.get_test_catalog_id()}');
				});

		    });        
		})(jQuery_testmanager);
		
		//]]>
		</script>
	</body>
</html>
