/**
 Ripristinate base Trac styles that jQuery UI overwrites
 */

 /* Link styles */
.ui-widget-content :link, 
.ui-widget-content :visited {
    text-decoration: none;
    color: #b00;
    border-bottom: 1px dotted #bbb;
}

.ui-widget-content :link:hover, 
.ui-widget-content :visited:hover { 
	background-color: #eee;
	color: #555 
}

h1 :link, 
h1 :visited ,
h2 :link, 
h2 :visited, 
h3 :link, 
h3 :visited,
h4 :link, 
h4 :visited, 
h5 :link, 
h5 :visited, 
h6 :link, 
h6 :visited {
    color: inherit;
}

/* Heading anchors */
.anchor:link, 
.anchor:visited {
    border: none;
    color: #d7d7d7;
    font-size: .8em;
    vertical-align: text-top;
}

* > .anchor:link, * > .anchor:visited {
 visibility: hidden;
}

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor,
span:hover .anchor {
    visibility: visible;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target,
span:target {
    background: #ffb;
    box-shadow: .1em .1em .4em .1em #DDA;
    border-radius: .2em;
}


/**
 * Toolbar
 */

/*
#tm_main_toolbar_new_root_catalog {
    padding: 4px;
    display: inline-block;
}
*/

.tm-toolbar {
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 box-shadow: 0 .5em 1.5em #eee;
 border: 1px solid #e4e4e4;
 border-radius: .5em;
 margin: .66em 0 .33em;
}

.tm-toolbar ul {
	padding-left: 12px;
}

.tm-toolbar li {
 background: white;
 border: 1px solid #e4e4e4;
 margin: -1px 0 0 -.4em;
 padding: .3em 0;
 display: inline-block;
}

.tm-toolbar .first, .tm-toolbar .first :link {
 border-top-left-radius: .5em;
 border-bottom-left-radius: .5em;
}
.tm-toolbar .last, .tm-toolbar .last :link {
 border-top-right-radius: .5em;
 border-bottom-right-radius: .5em;
 margin-right: 0;
}

.tm-toolbar :link, .tm-toolbar :visited {
 border-bottom: none;
 box-shadow: 0 .1em .3em 0 #999;
 color: #000;
 padding: .3em 20px;
}

.tm-toolbar li:hover {
 border: 1px solid #666;
}
.tm-toolbar :link:hover, .tm-toolbar :visited:hover {
 background-color: black;
 color: #eee;
 box-shadow: 0 .1em .6em 0 #666;
}

.tm-toolbar .active {
 border: 1px solid #666;
}
.tm-toolbar .active :link, .tm-toolbar .active :visited {
 background-color: black;
 color: #eee;
 text-shadow: 1px 0 #eee;
}

/**
 * Filter area
 */
.tm_filter {
	padding-top: 10px;
}
 
.tm_expandcollapseall {
	padding: 10px 5px 0 0;
}

/**
 * Main tree
 */

#tm_tree {
	width: 700px;
}

#tm_tree ul {
	width: 500px;
}

.tm_tree li {
	width: 500px;
}

.tm_node {
	cursor: pointer;
	list-style: none;
}

/** Highlight currently selected node in the tree */
.tm_node.selected {
	font-weight: bold;
}

/** Un-highlight descendant nodes, otherwise all test cases inside a catalog would be highlighted */
.tm_node.selected * {
	font-weight: normal;
}

.tm_testcatalog_node i {
    margin-left: -19px;
    padding-right: 6px;
}

.tm_folderstatus_node.yellow > i {
	color: yellow;
}

.tm_folderstatus_node.green > i {
	color: green;
}

.tm_folderstatus_node.red > i {
	color: red;
}

.tm_status_node:before, .tm_artifact_status:before {
	font-family: FontAwesome;
	content: "\f111   ";
}

.tm_status_node.yellow:before, .tm_artifact_status.yellow:before {
	color: yellow;
}

.tm_status_node.green:before, .tm_artifact_status.green:before {
	color: green;
}

.tm_status_node.red:before, .tm_artifact_status.red:before {
	color: red;
}

/*
.tm_testcatalog_node .collapsed:before {
	content: "+";
	margin-left: -12px;
	position: absolute;
}

.tm_testcatalog_node .expanded:before {
	content: "-";
	margin-left: -12px;
	position: absolute;
}
*/

.tm_testcatalog_node {
	padding-left: 30px;
}

.tm_testcase_node {
	padding-left: 30px;
}


/**
 * Test artifact details
 */

#tm_artifact_description h1  {
	padding: 20px;
}

#tm_artifact_description h2,
#tm_artifact_description h3 {
	padding-left: 20px;
}

#tm_artifact_status_section {
	margin-top: 40px;
}

#tm_artifact_status_section div {
	padding: 0 0 1em 1em;
}

.tm_artifact_status_colors {
	margin-left: 2em;
	padding: 8px;
}

.tm_artifact_status_colors .tm-action-change_status {
	padding: 5px;
	border: 0px;
}

.tm_artifact_status_colors .tm-action-change_status.tm_artifact_status_selected {
	border: 2px solid gray;
	border-radius: 3px;
}

#tm_artifact_statushistory {
	margin-top: 30px;
}

#tm_artifact_statushistory div {
	padding: 0 0 1em 1em;
}

#tm_artifact_statushistory dl {
	margin-left: 2em;
	padding: 0;
}

#tm_artifact_statushistory dt {
    display: list-item;
	list-style: square;
}

#tm_testplan-totals {
	padding-left: 20px;
}

.tm_testplan-totals-colors span {
	padding: 5px;
	border: 1px dotted gray;
}

#tm_artifact_description_wiki {
	padding: 20px;
}

.tm_metadata {
    padding: 0px 0px 12px 20px;
    font-size: small;
    color: gray;
}

.tm_metadata p {
    padding-left: 20px;
    line-height: 8px;
}

.hidden {
	display: none;
}

@media print {
    .collapsed > div, .collapsed > table, .collapsed > ul, .collapsed > dl { 
        display: block; 
    }
}

.ninja {
    color: black;
    visibility: hidden;
}

